ipdb==0.13.9
pytest==6.2.4

plotnine==0.8.0 # Python version of ggplot2

numpy==1.22.2
scipy==1.7.1
scikit-learn==0.24.2
scikit-tensor-py3 @ https://github.com/jonjoncardoso/scikit-tensor-py3/archive/master.zip
networkx==2.6.2

### JUPYTER LAB
jupyterlab_execute_time==2.0.5
