## Basic packages
numpy<=1.24.2
scipy<=1.10.1
pandas<2.0.0
igraph>=0.10.4
networkx<3.0.0
scikit-learn<=1.2.1

## Obscure but important dependency
scikit-tensor-py3 @ https://github.com/jonjoncardoso/scikit-tensor-py3/archive/master.zip

## Packages used in our Jupyter notebooks
matplotlib==3.7.0
plotnine==0.10.0
tqdm==4.64.1

## Packages we need for testing and building the package
ipykernel==6.21.2
pytest==6.2.4
pytest-cov==3.0.0
wheel==0.37.1
setuptools==60.1.0
ipdb<=0.13.13
tabulate==0.9.0

## Documentation
pdoc3==0.10.0
markdownify==0.11.6
bump2version==1.0.1
